<div class="side-menu">

	<div class="side-menu-logo" routerLink="/">
		<img src="/assets/images/next-level-logo.png" alt="Next Logo" height="40px"/>
		<img class="d-none d-md-block" src="/assets/images/next-level-complete-logo-light.png" alt="Next Logo" height="30px"/>
	</div>

	<div class="main-menu">
		<button nz-button nzSize="default" [nzType]="'text'" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
			<nz-icon class="mr-1" nzType="home" nzTheme="outline" />
			<span class="d-none d-md-inline">Home</span>
		</button>

		<button nz-button nzSize="default" [nzType]="'text'" routerLink="/dota-meta" routerLinkActive="active">
			<nz-icon class="mr-1" nzType="rise" nzTheme="outline" />
			<span class="d-none d-md-inline">Meta</span>
		</button>

		<button nz-button nzSize="default" [nzType]="'default'" routerLink="/tournaments" routerLinkActive="active">
			<nz-icon class="mr-1" nzType="trophy" nzTheme="outline" />
			<span class="d-none d-md-inline">Campeonatos</span>
		</button>

		<button nz-button nzSize="default" [nzType]="'text'" routerLink="/dota-meta" routerLinkActive="active">
			<nz-icon nzType="twitch" nzTheme="outline" />
			<span class="d-none d-md-inline">Assista</span>
		</button>
	</div>


	<div class="side-menu-footer d-none d-md-block">
		<button nz-button nzSize="default" [nzType]="'text'" routerLink="/admin" routerLinkActive="active" *ngIf="currentUser?.role === 'admin'">
			<nz-icon nzType="control" nzTheme="outline" />
			<span>Administração</span>
		</button>

		<div class="version">
			<span>NEXTLEVEL</span>
			<span>v1.0</span>
		</div>
	</div>
</div>
