<div class="dota-meta-container">
    <div class="mb-3" nz-row>
        <div nz-col nzSpan="12" nzAlign="bottom">
            <h3>Meta de Heróis</h3>
            <h6>Partidas com +7500 de MMR</h6>
        </div>
        <div nz-col nzSpan="12">
            <div class="in-horizontal end bottom" style="height: 100%;">
                <span class="text-muted">Nos últimos {{ bestHeroesRequest.days }} dias</span>
            </div>
        </div>
    </div>

    <!-- Filter Section -->
    <div class="mb-3 filter-section" nz-row [nzGutter]="16">
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
            <div class="in-card p-3">
                <div *ngIf="bestHeroesRequest.leagueId" class="mb-3 league-tag-container">
                    <nz-tag nzColor="blue" class="league-tag">
                        <span nz-icon nzType="trophy" nzTheme="outline" class="mr-1"></span>
                        {{ currentLeague?.displayName || 'Torneio: ID ' + bestHeroesRequest.leagueId }}
                        <span nz-icon nzType="close-circle" nzTheme="outline" class="ml-2 close-icon" (click)="clearLeagueFilter()"></span>
                    </nz-tag>
                </div>
                
                <div nz-row [nzGutter]="16" class="filter-controls">
                    <div nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="4" *ngIf="!bestHeroesRequest.leagueId">
                        <div class="filter-label">Dias</div>
                        <nz-select [(ngModel)]="bestHeroesRequest.days" class="filter-select">
                            <nz-option [nzValue]="7" nzLabel="7 dias"></nz-option>
                            <nz-option [nzValue]="14" nzLabel="14 dias"></nz-option>
                            <nz-option [nzValue]="30" nzLabel="30 dias"></nz-option>
                            <nz-option [nzValue]="60" nzLabel="60 dias"></nz-option>
                        </nz-select>
                    </div>
                    <div nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="4">
                        <div class="filter-label">Min. Partidas</div>
                        <nz-slider [(ngModel)]="bestHeroesRequest.minMatches" [nzMin]="1" [nzMax]="50" [nzStep]="1"></nz-slider>
                    </div>
                    <div nz-col nzXs="24" nzSm="8" nzMd="6" nzLg="4" class="filter-button-container">
                        <button nz-button nzType="primary" (click)="applyFilters()" [nzLoading]="loading">
                            <span nz-icon nzType="filter" nzTheme="outline" class="mr-1"></span>
                            Aplicar Filtros
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="24">
            <div class="in-card px-3 position-tabs" style="border-bottom-left-radius: 0; border-bottom-right-radius: 0;">
                <nz-tabset style="margin-bottom: 0;" nzSize="large" nzCentered="true" (nzSelectedIndexChange)="changePositionTab($event)">
                    <nz-tab *ngFor="let position of positions" [nzTitle]="titleTemplate">
                        <ng-template #titleTemplate>
                            <img height="20px" class="mr-2" [src]="getPositionImage(position.value)" *ngIf="position.value">
                            <span>{{ position.label }}</span>
                        </ng-template>
                    </nz-tab>
                </nz-tabset>
            </div>

            <div class="in-tab-content">
                <nz-table #heroTable [nzData]="bestHeroes" [nzLoading]="loading" [nzShowPagination]="true" [nzPageSize]="bestHeroesRequest.limit" 
                [nzTotal]="totalResults" [nzFrontPagination]="false" (nzQueryParams)="changePage($event)" class="heroes-table"
                [nzLoadingIndicator]="indicatorTemplate">
                    <ng-template #indicatorTemplate>
                        <div class="custom-loading">
                            <span nz-icon nzType="loading" nzTheme="outline"></span>
                            <span class="loading-text">Carregando heróis...</span>
                        </div>
                    </ng-template>
                    <thead>
                        <tr>
                            <th>Herói</th>
                            <th *ngIf="!selectedPosition">Posição</th>
                            <th class="d-table-cell d-md-none text-primary">Win Rate</th>
                            <th class="d-none d-md-table-cell text-primary">Win Rate</th>
                            <th class="d-none d-md-table-cell">Partidas</th>
                            <th>K/D/A</th>
                            <th><img class="mr-1" src="/assets/images/dota/icons/gold.png" height="15px" /> GPM</th>
                            <th><img class="mr-1" src="/assets/images/dota/icons/xp.png" height="15px" /> XPM</th>
                            <th><img class="mr-1" src="/assets/images/dota/icons/damage.png" height="15px" /> Dano Heróis</th>
                            <th><img class="mr-1" src="/assets/images/dota/icons/siege.png" height="15px" /> Dano Torres</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hero of heroTable.data" (click)="goToHero(hero.dotaHero?.sanitizedName)" class="hero-row">
                            <td>
                                <div class="in-horizontal" *ngIf="hero.dotaHero" >
                                    <app-dota-hero [hero]="hero.dotaHero" [selectedFacet]="hero.selectedFacet"></app-dota-hero>
                                    <div class="ml-2 d-none d-xl-flex in-vertical">
                                        <span>{{ hero.dotaHero?.localized_name }}</span>
                                        <span [ngClass]="'text-' + hero.selectedFacet?.color" *ngIf="hero.selectedFacet">{{ hero.selectedFacet?.title }}</span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center" *ngIf="!selectedPosition">
                                <img height="20px" class="mr-2" [src]="hero.dotaHero.positionImage" nz-tooltip [nzTooltipTitle]="hero.dotaHero.positionLabel">
                            </td>
                            <td class="d-table-cell d-md-none">
                                <div [ngClass]="{'text-success': hero.winRate > 50, 'text-danger': hero.winRate < 50}">{{ hero.winRate }}%</div>
                                <div class="text-muted text-smallest" style="margin-top: -5px;">{{ hero.totalMatches }} partidas</div>
                            </td>
                            <td class="d-none d-md-table-cell text-center" [ngClass]="{'text-success': hero.winRate > 50, 'text-danger': hero.winRate < 50}">
                                {{ hero.winRate }}%
                            </td>
                            <td class="d-none d-md-table-cell">
                                <div style="margin-bottom: -10px;">{{ hero.totalMatches }} partidas</div>
                                <nz-progress [nzPercent]="hero.totalMatches / highestMatches * 100" [nzShowInfo]="false" nzStrokeColor="#0AB4E9" nzStrokeWidth="2"></nz-progress>
                            </td>
                            <td class="text-center">
                                <span class="text-success">{{ hero.avgKills | number:'1.0-0' }}</span> / 
                                <span class="text-danger">{{ hero.avgDeaths | number:'1.0-0' }}</span> / 
                                <span class="text-info">{{ hero.avgAssists | number:'1.0-0' }}</span>
                            </td>
                            <td class="text-center text-warning">{{ hero.avgGpm | number:'1.0-0' }}</td>
                            <td class="text-center text-info">{{ hero.avgXpm | number:'1.0-0' }}</td>
                            <td class="text-center text-danger">{{ hero.avgHeroDamage | number:'1.0-0' }}</td>
                            <td class="text-center">{{ hero.avgTowerDamage | number:'1.0-0' }}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
</div>