@import '../../../styles/_variables.less';

.home-container {
	padding: @default-padding;
		
		.section-container {
			.section-content {
				background-color: @component-background;
				border-radius: @border-radius;
				overflow: hidden;
			}
		}

		.position-tabs {
			::ng-deep .ant-tabs-nav {
				margin-bottom: 0;
			}
		}
}

[nz-carousel-content] {
	text-align: center;
	height: 200px;
	background: @component-background;
	color: #fff;
	overflow: hidden;
	border-radius: @border-radius;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.manifesto-banner {
	height: 100%;
	background: linear-gradient(to top, rgba(#000, 0.7) 20%, rgba(@primary-color, 0));
	display: flex;
	flex-direction: column;
	justify-content: end;

	padding-bottom: calc(@default-padding * 3);
}

.nextlevel-banner {
	height: 100%;
	background: linear-gradient(to top, rgba(@nextlevel-color, 0.7) 20%, rgba(@nextlevel-color, 0));
	display: flex;
	flex-direction: column;
	justify-content: end;

	padding-bottom: calc(@default-padding * 3);


}