<div class="home-container">
    <div nz-row nzGutter="20">
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="16">
            <nz-carousel nzAutoPlay [nzAutoPlaySpeed]="6000">
                @for (index of [1, 2, 3]; track index) {
                  <div nz-carousel-content>
                    <h3>{{ index }}</h3>
                  </div>
                }
              </nz-carousel>
        </div>
        <div nz-col nzSm="0" nzMd="0" nzLg="0" nzXl="8">
            asd
        </div>
        <!-- <div nz-col nzXs="0" nzSm="0" nzMd="6" nzLg="8" nzXl="16">Col 1</div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="16" nzXl="4">Col 2</div>
        <div nz-col nzXs="0" nzSm="0" nzMd="6" nzLg="0" nzXl="10">Col 3</div> -->
    </div>
</div>