<div nz-row>
	<div nz-col nzSpan="14" class="pr-2">
		<div class="in-card dota-live-matches-card">
			<div class="in-card-header pb-0">
				<div class="in-card-title">
					Partidas
				</div>
				<div class="">
					<button class="mr-2" nz-button nzType="text" (click)="getOnGoingMatches()" [disabled]="loadingOnGoingMatches.value">
						<span *ngIf="!loadingOnGoingMatches.value">
							<nz-icon nzType="reload"></nz-icon> Atualizar
						</span>
						<span class="text-muted" *ngIf="loadingOnGoingMatches.value">
							<nz-icon class="mr-2" nzType="loading"></nz-icon> carregando...
						</span>
					</button>
					<button nz-button nzType="primary" routerLink="/dota-meta">Confira o Meta</button>
				</div>
			</div>
			<div class="in-card-body">
				<nz-tabset nzSize="large" nzCentered="true">
					<nz-tab nzTitle="Ao vivo" (nzSelect)="getOnGoingMatches()">
						<div class="in-tab-content">
							<div class="in-horizontal center" *ngIf="liveMatches.length == 0">
								<nz-icon class="mr-2" nzType="loading" nzTheme="outline"></nz-icon>
								<h6 class="text-muted">Só os ruins jogando, sem partidas para exibir...</h6>
							</div>
							<div nz-row *ngFor="let match of liveMatches">
								<div class="match-details">
									<div class="in-horizontal between">
										<button nz-button nzType="text" (click)="copyMatchId(match.matchId)">
											# {{ match.matchId}} <nz-icon nzType="copy" nzTheme="fill"></nz-icon>
										</button>
										<span *ngIf="match.averageMmr > 0">MMR: {{ match.averageMmr }}</span>
										<span class="text-warning" *ngIf="match.averageMmr == 0">Partida Oficial</span>
									</div>
									<div class="in-horizontal between">
										<div class="dota-match-team radiant">
											<div class="heroes-container">
												<ng-container *ngFor="let player of match.players">
													<div class="dota-hero" *ngIf="player.isRadiant">
														<img [src]="player.dotaHero?.img" nz-tooltip [nzTooltipTitle]="player.dotaHero?.localized_name" routerLink="/dota-meta/heroes/{{ player.dotaHero?.sanitized_name }}"/>
													</div>
												</ng-container>
												<div class="ml-2 text-success" *ngIf="match.radiantKills" style="font-size: 1.2rem;">
													{{ match.radiantKills[match.radiantKills.length - 1] || 0 }}
												</div>
												<div class="ml-2 text-success" *ngIf="!match.radiantKills" style="font-size: 1.2rem;">0</div>
											</div>
											<div class="team-container" *ngIf="match.gameMode != '22'">
												<span class="text-muted" *ngIf="match.radiantTeam">{{ match.radiantTeam.name }} ({{ match.radiantTeam.rating }})</span>
												<span class="text-muted" *ngIf="!match.radiantTeam">Time desconhecido</span>
											</div>
										</div>
			
										<div class="in-vertical text-center">
											<span>VS</span>
											<span>{{ match.durationSeconds | timeFormat }}</span>
										</div>
			
										<div class="dota-match-team dire">
											<div class="heroes-container">
												<div class="mr-2 text-danger" *ngIf="match.direKills"  style="font-size: 1.2rem;">
													{{ match.direKills[match.direKills.length - 1] }}
												</div>
												<div class="mr-2 text-danger" *ngIf="!match.direKills" style="font-size: 1.2rem;">0</div>
												<ng-container *ngFor="let player of match.players">
													<div class="dota-hero" *ngIf="!player.isRadiant">
														<img [src]="player.dotaHero?.img" nz-tooltip [nzTooltipTitle]="player.dotaHero?.localized_name" routerLink="/dota-meta/heroes/{{ player.dotaHero?.sanitized_name }}"/>
													</div>
												</ng-container>
											</div>
											<div class="team-container" *ngIf="match.gameMode != '22'">
												<span class="text-muted" *ngIf="match.direTeam">{{ match.direTeam.name }} ({{ match.direTeam.rating }})</span>
												<span class="text-muted" *ngIf="!match.direTeam">Time desconhecido</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</nz-tab>
					<nz-tab nzTitle="Últimas partidas analisadas" (nzSelect)="getLastMatches()">
						<div class="in-tab-content">
							<div class="in-horizontal center" *ngIf="lastMatches.length == 0">
								<nz-icon class="mr-2" nzType="loading" nzTheme="outline"></nz-icon>
								<h6 class="text-muted">Carregando partidas...</h6>
							</div>
							<div nz-row *ngFor="let match of lastMatches">
								<div class="match-details">
									<div class="in-horizontal between">
										<button nz-button nzType="text" (click)="copyMatchId(match.matchId)">
											# {{ match.matchId}} <nz-icon nzType="copy" nzTheme="fill"></nz-icon>
										</button>
										<span *ngIf="match.averageMmr > 0">MMR: {{ match.averageMmr }}</span>
										<span class="text-warning" *ngIf="match.averageMmr == 0">Partida Oficial</span>
									</div>
									<div class="in-horizontal between">
										<div class="dota-match-team radiant">
											<div class="heroes-container">
												<ng-container *ngFor="let player of match.players">
													<div class="dota-hero" *ngIf="player.isRadiant">
														<img [src]="player.dotaHero?.img" nz-tooltip [nzTooltipTitle]="player.dotaHero?.localized_name"/>
													</div>
												</ng-container>
												<div class="ml-2 text-success" *ngIf="match.radiantKills">
													{{ match.radiantKills[match.radiantKills.length - 1] || 0 }}
												</div>
												<div class="ml-2 text-success" *ngIf="!match.radiantKills">0</div>
											</div>
											<div class="team-container" *ngIf="match.gameMode != '22'">
												<span class="text-muted" *ngIf="match.radiantTeam">{{ match.radiantTeam.name }} ({{ match.radiantTeam.rating }})</span>
												<span class="text-muted" *ngIf="!match.radiantTeam">Time desconhecido</span>
											</div>
										</div>
			
										<div class="in-vertical text-center">
											<span>VS</span>
											<span>{{ match.durationSeconds | timeFormat }}</span>
										</div>
			
										<div class="dota-match-team dire">
											<div class="heroes-container">
												<div class="mr-2 text-danger" *ngIf="match.direKills">
													{{ match.direKills[match.direKills.length - 1] }}
												</div>
												<div class="mr-2 text-danger" *ngIf="!match.direKills">0</div>
												<ng-container *ngFor="let player of match.players">
													<div class="dota-hero" *ngIf="!player.isRadiant">
														<img [src]="player.dotaHero?.img" nz-tooltip [nzTooltipTitle]="player.dotaHero?.localized_name"/>
													</div>
												</ng-container>
											</div>
											<div class="team-container" *ngIf="match.gameMode != '22'">
												<span class="text-muted" *ngIf="match.direTeam">{{ match.direTeam.name }} ({{ match.direTeam.rating }})</span>
												<span class="text-muted" *ngIf="!match.direTeam">Time desconhecido</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</nz-tab>
				</nz-tabset>
			</div>
		</div>
	</div>
	<div nz-col nzSpan="10" class="pl-2">
		<div class="in-card dota-rank-card">
			<div class="in-card-header">
				<div class="in-card-title">Ranking</div>
				<div class="in-card-subtitle in-vertical end">
					por MMR, talvez não seja só um número
					<div>
						Ranking feito por: <a href="https://x.com/dotaradio12" target="_blank">Radio Dota</a>
					</div>
				</div>
			</div>
			<div class="in-card-body">
				<nz-tabset nzSize="large" nzCentered="true" (nzSelectChange)="onRegionTabChange($event)">
					<nz-tab nzTitle="Brasil">
						<div class="in-vertical px-3">
							<nz-table #brasilTable [nzData]="dotaRankBrasil" [nzShowPagination]="false" [nzScroll]="{ y: '400px' }" [nzPageSize]="200">
								<thead>
									<tr>
										<th>Rank</th>
										<th>Jogador</th>
										<th>Idade</th>
										<th>MMR</th>
										<th>Observações</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let player of brasilTable.data; let i = index" [ngClass]="{'text-primary': (i + 1) <= 10}">
										<td>{{ i + 1 }}</td>
										<td>{{ player.Player }}</td>
										<td>{{ player.Age || '-' }}</td>
										<td>{{ player.MMR }}</td>
										<td><span class="text-muted">{{ player.Notes }}</span></td>
									</tr>
								</tbody>
							</nz-table>
						</div>
					</nz-tab>
					<nz-tab nzTitle="Europa">
					</nz-tab>
					<nz-tab nzTitle="Americas">
					</nz-tab>
					<nz-tab nzTitle="China">
					</nz-tab>
					<nz-tab nzTitle="Sudeste Asiático">
					</nz-tab>
				</nz-tabset>

				<div class="in-vertical px-3" *ngIf="selectedRegionTab !== 'Brasil'">
					<nz-table #rankTable [nzData]="selectedRankingData" [nzShowPagination]="false" [nzScroll]="{ y: '400px' }" [nzPageSize]="200">
						<thead>
							<tr>
								<th>Rank</th>
								<th>País</th>
								<th>Nome</th>
								<th>Time</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let rank of rankTable.data" [ngClass]="{'primary-bg': rank.country == 'br' || rank.nlCountry == 'br'}">
								<td>{{ rank.rank }}</td>
								<td>
									<img [src]="'https://community.cloudflare.steamstatic.com/public/images/countryflags/' + (rank.nlCountry ?? rank.country)+ '.gif'" *ngIf="rank.country || rank.nlCountry"/>
									<span *ngIf="!rank.country && !rank.nlCountry">-</span>
								</td>
								<td>{{ rank.nlName ?? rank.name }}</td>
								<td>{{ rank.nlTeamTag ?? rank.teamTag }}</td>
							</tr>
						</tbody>
					</nz-table>
				</div>
			</div>
		</div>
	</div>
</div>