<div class="admin-container">

    <div class="admin-header">
        <h6>Administração</h6>
        
        <ul nz-menu nzMode="horizontal">
            <li nz-menu-item nzMatchRouter>
                <a routerLink="/admin/dashboard">
                    <nz-icon nzType="dashboard" nzTheme="outline" />
                    Dashboard
                </a>
            </li>

            <li nz-menu-item nzMatchRouter>
                <a routerLink="/admin/matches">
                    <nz-icon nzType="unordered-list" nzTheme="outline" />
                    Partidas
                </a>
            </li>

            <li nz-menu-item nzMatchRouter>
                <a routerLink="/admin/tournaments">
                    <nz-icon class="mr-1" nzType="trophy" nzTheme="outline" />
                    Campeonatos
                </a>
            </li>
        </ul>
    </div>

    <div class="admin-content"> 
        <router-outlet></router-outlet>
    </div>

</div>
