<app-main-slider *ngIf="showSlider$ | async" @sliderAnimation></app-main-slider>

<app-side-menu *ngIf="false"></app-side-menu>

<div class="header">
	<div class="">
		<img src="/assets/images/next-level-complete-logo.png" alt="Next Level" height="50px"/>
		<h6>Seu jogo, seu nível, além!</h6>
	</div>

	<div class="" *ngIf="currentUser">
		<a nz-button nzType="text" nzSize="large" (click)="logout()">
			<span class="mr-2">{{ currentUser.email }}</span>
			<nz-icon nzType="logout" nzTheme="outline" />
		</a>
	</div>
</div>

<div class="main" #mainContent (scroll)="onWindowScroll()">
	<router-outlet></router-outlet>
</div>
