<div class="about-us-container" nz-row>
    <div nz-col nzSpan="24" nzXs="22" nzSm="20" nzMd="16" nzLg="14" nzXl="12"
         nzXsOffset="1" nzSmOffset="2" nzMdOffset="4" nzLgOffset="5" nzXlOffset="6">
        <h3>Manifesto - Next Level</h3>

        <h5 class="my-4">Sem promessas vazias. Sem atalhos. <span class="text-primary">O próximo nível.</span></h5>

        <p>
            O cenário brasileiro de Dota 2 já viu de tudo.Boas ideias que não saíram do papel. Projetos com mais barulho do que entrega. Oportunidades que desapareceram sem explicação.E uma comunidade que aprendeu, na marra, a esperar pouco.
            <br/><br/>
            Nós também vimos tudo isso. Mas em vez de repetir, <b>escolhemos reconstruir</b>.
        </p>

        <h5 class="my-4">O que é o Next Level?</h5>

        <p>
            Uma plataforma feita por quem joga para quem quer evoluir de verdade. Aqui, os dados são claros. As ferramentas, poderosas. As análises, objetivas. Focamos nas partidas públicas de alto nível, com destaque para o cenário brasileiro, trazendo informações valiosas sobre o meta, heróis, itens, estratégias, performance e evolução real.
            <br/><br/>
            E tudo isso com tecnologia de ponta: algoritmos automatizados para processar milhares de partidas diariamente e, em paralelo, sistemas de inteligência artificial treinados para realizar análises contextuais de partidas específicas, identificando padrões táticos, movimentação e tomadas de decisão.
            <br/><br/>
            <span class="text-primary"><b>Nossa missão é simples:</b> ajudar jogadores a jogarem melhor, compreender o jogo, dominar o patch, e crescer junto.</span>
        </p>

        <div class="in-card">
            <div class="in-card-header p-3">
                <h5>O que estamos construindo...</h5>
            </div>
            <div class="in-card-body p-3 pl-5">
                <nz-timeline>
                    <nz-timeline-item>Uma plataforma sólida, com dados em tempo real, visão estratégica e precisão.</nz-timeline-item>
                    <nz-timeline-item>Um sistema de análisa automatizada e assistida por IA, com foco na qualidade da informação.</nz-timeline-item>
                    <nz-timeline-item>Um espaço para renovar a confiança da comunidade brasileira, onde você encontrará tudo que precisa, do básico ao avançado.</nz-timeline-item>
                    <nz-timeline-item>Um HUB para jogadores sérios, criadores de conteúdo e também profissionais - onde todos podem contribuir, aprender e crescer.</nz-timeline-item>
                    <nz-timeline-item>Um ambiente que inspire novos talentos, novos projetos saudáveis e onde você encontrará tudo sobre o competitivo.</nz-timeline-item>
                    <ng-template #checkTemplate>
                        <nz-icon nzType="check-circle" nzTheme="outline" />
                    </ng-template>
                    <ng-template #pendingTemplate>
                        <nz-icon nzType="clock-circle" nzTheme="outline" />
                    </ng-template>
                </nz-timeline>
            </div>
        </div>

        <h5 class="my-4">O que nos move?</h5>

        <p>
            A gente conhece a história. Sabe o que deu errado. Mas não estamos aqui pra repetir — estamos aqui pra superar. Não estamos buscando palco, hype ou discurso bonito. Estamos construindo algo que vai funcionar.
            <br/><br/>
            Porque no final, o que convence mesmo não é o papo — <b class="text-primary">é o resultado</b>.
        </p>

        <h6 class="my-4">É só o começo</h6>

        <p style="margin-bottom: 50px;">
            O Next Level não é só mais um projeto. É um ponto de virada. Uma estrutura para quem ainda acredita que o Dota brasileiro pode alcançar níveis mais altos. 
            E com o tempo, resultado após resultado, ninguém vai conseguir ignorar.
        </p>

        <h6>Fiquem ligados! Em breve, mais informações.</h6>

    </div>
</div>