<div class="hero-container" *ngIf="hero">
    <div class="hero-similar-heroes" *ngIf="hero.similarHeroesData">
        <span class="text-muted mr-2">Heróis similares:</span>
        <div class="in-horizontal">
            <img *ngFor="let hero of hero.similarHeroesData" [src]="hero.img" height="40px" routerLink="/dota-meta/heroes/{{ hero.sanitized_name }}"
            nz-tooltip [nzTooltipTitle]="hero.localized_name"/>
        </div>
    </div>

    <div class="hero-meta-info">
        <div class="line-group">
            <div class="line"></div>
            <div class="sub-line"></div>
        </div>
        
        <div class="info">
            [{{ hero.id }}] - {{ hero.localized_name }}
            <img height="20px" [src]="hero.primaryAttributeImage" alt="Atributo primário" />
        </div>
    </div>
    <div class="hero-video">
        <video 
            #heroVideo 
            class="reversed-video" 
            height="800" 
            autoplay 
            loop 
            muted 
            playsinline 
            preload="auto"
        >
            <!-- Source will be set programmatically in component -->
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="in-card hero-info">
        <div class="in-card-body">
            <div class="in-horizontal between">
                <div class="in-vertical">
                    <div class="in-horizontal">
                        <img class="mr-3" [src]="hero.primaryAttributeImage" alt="Atributo primário" />
                        <h2>{{ hero.localized_name }}</h2>
                    </div>

                    <div class="in-horizontal ">
                        <h5 class="text-muted">Complexidade</h5>
                        <h5 class="ml-2 in-horizontal text-primary">
                            <nz-icon nzType="thunderbolt" [nzTheme]="hero.complexity > 0 ? 'fill' : 'outline'" />
                            <nz-icon nzType="thunderbolt" [nzTheme]="hero.complexity > 1 ? 'fill' : 'outline'" />
                            <nz-icon nzType="thunderbolt" [nzTheme]="hero.complexity > 2 ? 'fill' : 'outline'" />
                        </h5>
                    </div>

                    <div class="in-horizontal mt-3">
                        <img style="width: 20px;" src="/assets/images/dota/type/ranged.svg" *ngIf="hero.attack_type === 'Ranged'"/>
                        <img style="width: 20px;" src="/assets/images/dota/type/melee.svg" *ngIf="hero.attack_type === 'Melee'"/>
                        <span class="ml-2">{{ hero.attack_type == 'Ranged' ? 'Ataque a distância' : 'Ataque corpo a corpo' }}</span>
                    </div>
                </div>

                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="8" *ngFor="let role of hero.formatted_roles">
                        <h6>{{ role.label }}</h6>
                        <nz-progress [ngClass]="{'hero-role-progress': role.count > 0}" [nzPercent]="role.count" [nzShowInfo]="false" nzStrokeColor="#0AB4E9" nzStrokeWidth="2"></nz-progress>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>

    <div class="mt-4" nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
            <div class="in-card hero-items" *ngIf="bestHeroItems">
                <div class="in-card-header">
                    <div class="in-card-title">
                        Itens
                        <div class="text-muted" style="font-size: 50%; margin-top: -5px;">Presença dos itens nas vitórias.</div>
                    </div>
                    <div class="in-card-subtitle text-small in-vertical end">
                        <div>em {{ bestHeroItems.totalMatches }} partidas analisadas</div>
                        <div>nos últimos 7 dias</div>
                    </div>
                </div>
                <div class="in-card-body">
                    <div class="item-list">
                        <div class="item"  *ngFor="let item of bestHeroItems.items">
                            <img height="30px" [src]="item.imageData.img" alt="{{ item.imageData.dname }}" 
                            nz-tooltip [nzTooltipTitle]="item.imageData.dname" />
                            <div class="item-presence" [ngClass]="{'feature-item': item.count / bestHeroItems.totalMatches > 0.5, 'normal-item': item.count / bestHeroItems.totalMatches > 0.10}">{{ (item.count / bestHeroItems.totalMatches) * 100 | number:'1.0-2' }}%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div nz-col [nzSpan]="8">
            <div class="in-card overall-stats" *ngIf="bestHeroItems">
                <div class="in-card-header">
                    <div class="in-card-title">
                        Estatísticas
                        <div class="text-muted" style="font-size: 50%; margin-top: -5px;">Dados por posição.</div>
                    </div>
                    <div class="in-card-subtitle text-small in-vertical end">
                        <div>Média por posição</div>
                        <div>nos últimos 7 dias</div>
                    </div>
                </div>
                <div class="in-card-body" *ngIf="heroOverrallStats">
                    <nz-collapse nzAccordion nzGhost>
                        @for (stat of heroOverrallStats; track stat; let i = $index) {
                            <nz-collapse-panel #statPanel [nzExpandedIcon]="expandedStatIcon">
                                <ng-template #expandedStatIcon let-active>
                                    <div class="in-horizontal between">
                                        <div class="in-horizontal">
                                            <nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="statPanel.nzActive ? 90 : 0" />
                                            <img [src]="getPositionImage(stat.position)" height="20px" class="mr-2"/>
                                            <span>{{ getPositionLabel(stat.position) }}</span>
                                        </div>
                                        <span class="text-muted ml-auto">{{ stat.totalMatches }} partidas</span>
                                    </div>
                                </ng-template>

                                <div class="">
                                    <nz-progress class="win-rate-progress" [ngClass]="getWinRateClass(stat.winRate)" [nzPercent]="stat.winRate" [nzShowInfo]="false" [nzStrokeColor]="getWinRateColor(stat.winRate)" nzStrokeWidth="2"></nz-progress>
                                    <div class="in-horizontal end mb-2" style="margin-top: -8px; font-size: 80%;">
                                        <span [style.color]="getWinRateColor(stat.winRate)">{{ stat.winRate | number:'1.0-2' }}% vitórias</span>
                                    </div>
                                    <div class="stats-list">
                                        <div class="stats-item">
                                            <div class="in-horizontal">
                                                <img src="/assets/images/dota/icons/skull.png" height="15px" />
                                                <h6 class="mx-2">Execuções / Mortes / Assistências</h6>
                                            </div>
                                            <div>
                                                <span class="text-success">{{ stat.avgKills | number:'1.0-0' }}</span> / 
                                                <span class="text-danger">{{ stat.avgDeaths | number:'1.0-0' }}</span> / 
                                                <span class="text-info">{{ stat.avgAssists | number:'1.0-0' }}</span>

                                            </div>
                                        </div>

                                        <div class="stats-item">
                                            <div class="in-horizontal">
                                                <img src="/assets/images/dota/icons/gold.png" height="15px" />
                                                <h6 class="mx-2">Ouro por Minuto</h6>
                                            </div>
                                            <div>
                                                <span class="text-warning">{{ stat.avgGpm | number:'1.0-0' }}</span>
                                            </div>
                                        </div>

                                        <div class="stats-item">
                                            <div class="in-horizontal">
                                                <img src="/assets/images/dota/icons/xp.png" height="15px" />
                                                <h6 class="mx-2">Experiência por Minuto</h6>
                                            </div>
                                            <div>
                                                <span class="text-info">{{ stat.avgXpm | number:'1.0-0' }}</span>
                                            </div>
                                        </div>

                                        <div class="stats-item">
                                            <div class="in-horizontal">
                                                <img src="/assets/images/dota/icons/damage.png" height="15px" />
                                                <h6 class="mx-2">Dano em Heróis</h6>
                                            </div>
                                            <div>
                                                <span class="text-danger">{{ stat.avgHeroDamage | number:'1.0-0' }}</span>
                                            </div>
                                        </div>

                                        <div class="stats-item">
                                            <div class="in-horizontal">
                                                <img src="/assets/images/dota/icons/healing.png" height="15px" />
                                                <h6 class="mx-2">Cura em Heróis</h6>
                                            </div>
                                            <div>
                                                <span class="text-success">{{ stat.avgHeroHealing | number:'1.0-0' }}</span>
                                            </div>
                                        </div>

                                        <div class="stats-item">
                                            <div class="in-horizontal">
                                                <img src="/assets/images/dota/icons/siege.png" height="15px" />
                                                <h6 class="mx-2">Dano em Estruturas</h6>
                                            </div>
                                            <div>
                                                <span class="text-warning">{{ stat.avgTowerDamage | number:'1.0-0' }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nz-collapse-panel>
                        }
                    </nz-collapse>
                </div>
            </div>
        </div>
        <div nz-col [nzSpan]="8">
            <div class="in-card hero-matchups" *ngIf="heroMatchups">
                <div class="in-card-header">
                    <div class="in-card-title">
                        Confrontos
                        <div class="text-muted" style="font-size: 50%; margin-top: -5px;">{{ hero.localized_name }} é melhor contra</div>
                    </div>
                    <div class="in-card-subtitle text-small in-vertical end">
                        <div>Vitórias por posição</div>
                        <div>nos últimos 7 dias</div>
                    </div>
                </div>
                <div class="in-card-body">
                    <nz-collapse nzAccordion nzGhost>
                        @for (matchup of heroMatchups; track matchup; let i = $index) {
                            <nz-collapse-panel #p [nzActive]="i === 0" [nzExpandedIcon]="expandedIcon">
                                <ng-template #expandedIcon let-active>
                                    <div class="in-horizontal between">
                                        <div class="in-horizontal">
                                            <nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : 0" />
                                            <img class="mr-2" [src]="getPositionImage(matchup.position)" height="20px" />
                                            <span class="mr-2">{{ getPositionLabel(matchup.position) }}</span>
                                        </div>
                                        <span class="text-muted">{{ matchup.totalMatches }} confrontos</span>
                                    </div>
                                </ng-template>

                                <div class="in-vertical" style="max-height: 400px; padding-right: 10px; overflow-y: auto;">
                                    @for (matchup of matchup.matchups; track matchup) {
                                        <div class="in-horizontal between mb-2">
                                            <div class="in-horizontal">
                                                <img [src]="matchup.enemyHero.img" height="30px"/>
                                                <span class="ml-2">{{ matchup.enemyHero.localized_name }}</span>
                                            </div>
                                            <div class="in-vertical end">
                                                <span [style.color]="getWinRateColor(matchup.winRate)">{{ matchup.winRate | number:'1.0-2' }}% vitórias</span>
                                                <span class="text-muted text-smaller">{{ matchup.totalMatches }} partidas</span>
                                            </div>
                                            
                                        </div>
                                    }
                                </div>
                            </nz-collapse-panel>
                        }
                    </nz-collapse>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="hero-container" *ngIf="!hero">
    Carregando...
</div>

<!-- Example usage of the fade-in-from-top animation -->
<div class="fade-in-from-top" *ngIf="hero">
    <!-- Content that needs to fade in from top will go here -->
</div>